<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">

    <div class="form-group">
        <label for="postTitle">POST TITLE</label>
        <input class="form-control" type="text" name="postTitle">

        <label for="postContent">POST CONTENT</label>
        <textarea class="form-control" name="postContent" id="" cols="30" rows="10"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">publish</button>


    
</form>


<%- include("partials/footer") -%>